name: API build

on:
  # pull_request_review:
  #   types: [submitted]
  pull_request:
    types:
      - closed


jobs:
  build:
    # if: github.event.review.state == 'approved'
    runs-on: ubuntu-latest
    
    steps:
      - name: executing remote ssh commands using password
      # using ssh-action from appleboy
        uses: appleboy/ssh-action@v0.1.10
        with:
          # using repository secrets
          # for login to your server
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          password: ${{ secrets.PASSWORD }}
          port: ${{ secrets.PORT }}
          # commands to run on your server
          # below just an example
          # can be more (like restarting pm2)
          script: |
            echo "cd to correct folder"
            cd /var/www/cypress-cucumber
            echo "git pull"
            git pull
            echo "npm install"
            npm install
            echo "running build if present"
            npm run build --if-present
            echo "restarting app in pm2"
            pm2 restart lumia


# on:
#   pull_request_review:
#     types: [submitted]

# jobs:
#   approved:
#     if: github.event.review.state == 'approved'
#     runs-on: ubuntu-latest
#     steps:
#       - run: echo "This PR was approved"
