name: API Tests

on: 
  pull_request:
    branches:
      [main]

jobs: 
  tests:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x]
    
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version}}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version}}
      - name: npm install
        run: npm ci
      - name: fire up backend 
        run: nohup npm run backend & exit
      # - name: newman test
      #   run: npm test
      - name: gui testing
        run: npm test

 
name: Dev Workflow - Test and check thing
on:
  pull_request_review:
    types: [submitted]

  jobs:
    build:
    if: github.event.review.state == 'approved'
    runs-on: ubuntu-latest
    steps:
    - name: executing remote ssh commands using password
      # using ssh-action from appleboy
      uses: appleboy/ssh-action@v0.1.10
      with:
        # using repository secrets
        # for login to your server
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USERNAME }}
        password: ${{ secrets.PASSWORD }}
        port: ${{ secrets.PORT }}
        # commands to run on your server
        # below just an example
        # can be more (like restarting pm2)
        script: |
          echo "cd to correct folder"
          cd /var/www/cypress-cucumber
          echo "git pull"
          git pull
          echo "npm install"
          npm install
          echo "running build if present"
          npm run build --if-present
          echo "restarting app in pm2"
          pm2 restart lumia

