name: API Tests

on: 
  push:
  pull_request:
    branches:
      [main]

jobs: 
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x]
    
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version}}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version}}
      - name: npm install
        run: npm ci
      - name: fire up backend 
        run: nohup npm run backend & exit
      # - name: newman test
      #   run: npm test
      - name: gui testing
        run: npm test
        
# main Dev
  deploy:
    needs: [build]
    runs-on: ubuntu-latest
    steps:
      - name: Wait for tests to succeed
        uses: lewagon/wait-on-check-action@v1.3.1
      with:
        ref: master
        check-name: test
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        wait-interval: 20
        - name: executing remote ssh commands using password
        # using ssh-action from appleboy
        uses: appleboy/ssh-action@v0.1.10
        with:
          # using repository secrets
          # for login to your server
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          password: ${{ secrets.PASSWORD }}
          port: ${{ secrets.PORT }}
          # commands to run on your server
          # below just an example
          # can be more (like restarting pm2)
          script: |
            cd /var/www/nodehill-home-page
            git pull
            npm run build --if-present




